bt.cpp/behaviortree_schema.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="BehaviorTree">
                    <xs:complexType>
                        <xs:group ref="BuiltInMultipleTypes"/>
                        <xs:attribute name="ID" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="TreeNodeModel">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Action" type="ActionType"/>
                            <xs:element name="Condition" type="ConditionType"/>
                            <xs:element name="Decorator" type="DecoratorType"/>
                            <xs:element name="Control" type="ControlType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="main_tree_to_execute" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ActionType">
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="ID" type="xs:string" use="required"/>
        <xs:anyAttribute/>
    </xs:complexType>
    <xs:complexType name="ConditionType">
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="ID" type="xs:string" use="required"/>
        <xs:anyAttribute/>
    </xs:complexType>
    <xs:complexType name="DecoratorType">
        <xs:group ref="BuiltInMultipleTypes"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="ID" type="xs:string" use="required"/>
        <xs:anyAttribute/>
    </xs:complexType>
	<xs:complexType name="SubtreeType">
        <xs:group ref="BuiltInMultipleTypes"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="ID" type="xs:string" use="required"/>
        <xs:anyAttribute/>
    </xs:complexType>
    <xs:complexType name="ControlType">
        <xs:sequence>
            <xs:group maxOccurs="unbounded" minOccurs="1" ref="BuiltInMultipleTypes"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="ID" type="xs:string" use="required"/>
        <xs:anyAttribute/>
    </xs:complexType>
    <xs:complexType name="SequenceType">
        <xs:sequence>
            <xs:group maxOccurs="unbounded" minOccurs="1" ref="BuiltInMultipleTypes"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="SequenceStarType">
        <xs:sequence>
            <xs:group maxOccurs="unbounded" minOccurs="1" ref="BuiltInMultipleTypes"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="FallbackType">
        <xs:sequence>
            <xs:group maxOccurs="unbounded" minOccurs="1" ref="BuiltInMultipleTypes"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="FallbackStarType">
        <xs:sequence>
            <xs:group maxOccurs="unbounded" minOccurs="1" ref="BuiltInMultipleTypes"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ParallelType">
        <xs:sequence>
            <xs:group maxOccurs="unbounded" minOccurs="2" ref="BuiltInMultipleTypes"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="threshold" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="RetryType">
        <xs:group ref="BuiltInMultipleTypes"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="num_attempts" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="RepeatType">
        <xs:group ref="BuiltInMultipleTypes"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="num_cycles" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="InverterType">
        <xs:group ref="BuiltInMultipleTypes"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="TimeoutType">
        <xs:group ref="BuiltInMultipleTypes"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="msec" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="ForceSuccesType">
        <xs:group ref="BuiltInMultipleTypes"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ForceFailureType">
        <xs:group ref="BuiltInMultipleTypes"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="AlwaysSuccesType">
        <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="AlwaysFailureType">
        <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:group name="BuiltInMultipleTypes">
        <xs:choice>
            <xs:element name="Action" type="ActionType"/>
            <xs:element name="Condition" type="ConditionType"/>
            <xs:element name="Control" type="ControlType"/>
            <xs:element name="Decorator" type="DecoratorType"/>
			<xs:element name="Subtree" type="SubtreeType"/>
            <xs:element name="Sequence" type="SequenceType"/>
            <xs:element name="SequenceStar" type="SequenceStarType"/>
            <xs:element name="Fallback" type="FallbackType"/>
            <xs:element name="FallbackStar" type="FallbackStarType"/>
            <xs:element name="Parallel" type="ParallelType"/>
            <xs:element name="Inverter" type="InverterType"/>
            <xs:element name="RetryUntilSuccesful" type="RetryType"/>
            <xs:element name="Repeat" type="RepeatType"/>
            <xs:element name="Timeout" type="TimeoutType"/>
            <xs:element name="ForceSucces" type="ForceSuccesType"/>
            <xs:element name="ForceFailure" type="ForceFailureType"/>
            <xs:element name="AlwaysSucces" type="AlwaysSuccesType"/>
            <xs:element name="AlwaysFailure" type="AlwaysFailureType"/>
        </xs:choice>
    </xs:group>
</xs:schema>
